body {
  padding: 50px;
  background-color: #66ccff;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
  border-radius: 5px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #49c0fc;
  color: #fff;
  border: 2px solid rgb(202, 222, 252);
  border-radius: 5px;
}

.todoListMain .header button:hover {
  background-color: #00000056;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}

.todoListMain .theList li {
  color: #005e8d;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;

  transition: background-color 0.2s ease-out;
}

.todoListMain .theList li:hover {
  background-color: rgb(255, 111, 111);
  color: white;
  cursor: pointer;
}
